.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;

}

#search-btn {
    border-radius: 1.5em;
}

hgroup {
    text-align: center;
}

.padre {
    display: grid;
    place-items: center;
}

.flag-img {
    width: 100px;
    height: 100px;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

h5 {
    text-align: center;
    color: gray;
}